extends layout

block content
 div(class="container rounded border")
  form(action="/users/register")
  
   div(class="border rounded-xl flex")
    input(name="firstName" value=firstName class="w-full border-0 outline-0")
    
   div(class="border rounded-xl flex")
    input(name="lastName" value=lastName class="w-full border-0 outline-0")
    
   div(class="border rounded-xl flex")
    input(name="displayName" value=displayName class="w-full border-0 outline-0")
    
   div(class="border rounded-xl flex")
    input(name="email" value=email class="w-full border-0 outline-0")
    
   div(class="border rounded-xl flex")
    input(name="password" value=password class="w-full border-0 outline-0")
    
   div(class="border rounded-xl flex")
    input(name="password2" value=password2 class="w-full border-0 outline-0")
    
   button(type="submit") submit
   
   div.container,rounded,border,p-4
    a(href="/auth/google") google
    a(href="/auth/twitter") twitter