extends layout

block content
 div(class="container rounded border flex h-[85vh] w-[100vw] align-center justify-center items-center text-center ")
  form( method="POST" action="/users/register" class="h-[33vh] w-[30vw] shadow-lg rounded border-2 border-dotted")
   h1(class="w-full text-center text-bold") Register 
  
   div(class="border rounded-xl flex h-[8vh]")
    input(name="firstName" value=firstName class="w-full border-0 outline-0" placeholder="Your first name" type="text")
    
   div(class="border rounded-xl  h-[8vh]")
    input(name="lastName" value=lastName placeholder="Your lastName" class="w-full border-0 outline-0"  type="text")
    
   div(class="border rounded-xl flex h-[8vh]")
    input(name="displayName" value=displayName class="w-full border-0 outline-0" type="text" placeholder="Your displayName")
    
   div(class="border rounded-xl flex h-[8vh]")
    input(name="email" value=email class="w-full border-0 outline-0" type="email" placeholder="email address")
    
   div(class="border rounded-xl flex h-[8vh]")
    input(name="password" value=password class="w-full border-0 outline-0" type="password" placeholder="password")
    
   div(class="border h-[8vh] rounded-xl flex")
    input(name="password2" type="password" value=password2 class="w-full border-0 outline-0 h-full" placeholder="confirm password")
    
   
   button(type="submit" class="p-2 border-2 shadow border-groove m-4 hover:shadow-2xl") submit
  
   button( class="p-2 border-2 shadow border-groove m-4 hover:shadow-2xl w-full")
    a(href="/auth/google") google